
.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0.75rem;
    background-color: #ececec;
}
.nav-list {
    display: flex;
    list-style-type: none;
    gap: 1rem;
}

.logo {
    margin-left: 40px;
    max-width: 5rem;
}

.nav-list li a {
    text-decoration: none;
    color: black;
}

.abrir-menu,
.cerrar-menu{
    display: none;
}

@media screen and (max-width: 550px) {
   .abrir-menu,
   .cerrar-menu{
        display: block;
        border: 0;
        font-size: 1.3rem;
        background-color: transparent;
        cursor: pointer;
    }
    .logo {
        margin-left: 20px;
    }

    .abrir-menu {
        margin: 10%;
        color: black;
    }

    .cerrar-menu {
        color: white;
    }
    .nav {
        opacity: 0;
        visibility: hidden;
    }
    .nav {
        display: flex;
        flex-direction: column;
        align-items: end;
        gap: 1.3rem;
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        background-color: black;
        padding: 2rem;
        box-shadow: 0 0 0 100vmax rgba(0, 0, 0, .5);
    }
    .nav.visible {
        opacity: 1;
        visibility: visible;
    }
    .nav-list {
        flex-direction: column;
        align-items: end;
    }
    .nav-list li a {
        color:white;
    }
    
}