.pie-pagina {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: #333;
  color: #fff;
  padding: 20px;
  flex-wrap: wrap; /* Permite que los elementos se reorganicen en líneas */
}

.pie-pagina div {
  flex: 1;
  text-align: center;
  margin: 10px; /* Añade espacio entre los elementos */
}

.pie-pagina-img img {
  max-width: 100px;
  height: auto;
}

/* Media Query para dispositivos móviles */
@media (max-width: 768px) {
  .pie-pagina {
    flex-direction: column; /* Cambia la dirección a columna */
    text-align: center;     /* Centra los elementos */
  }

  .pie-pagina div {
    flex: unset; /* Quita el crecimiento automático para columnas */
  }
}

  .texto {
    font-size: large;
  }
