@import url('https://fonts.googleapis.com/css2?family=Anton&family=Rubik:ital,wght@0,300..900;1,300..900&family=Sour+Gummy:ital,wght@0,800;1,800&display=swap');
/* font-family: "Anton", sans-serif; */
@import url('https://fonts.googleapis.com/css2?family=Sour+Gummy:ital,wght@0,100..900;1,100..900&display=swap');
/* font-family: "Sour Gummy", sans-serif; */
@import url('https://fonts.googleapis.com/css2?family=Righteous&display=swap');
/* font-family: "Righteous", sans-serif; */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

body {
    font-family: Century Gothic;
    font-size: 16px;
    background: #e8e8e8;
  }

  .flex {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
  }
  
  .menu {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 18px; /* Espacio entre imágenes */
    width: 100%;
    padding: 5px;
  }
  
  .menu img {
    width: 100%; /* Ajusta la imagen al ancho del contenedor */
    max-width: 375px; /* Limita el ancho máximo */
    height: auto; /* Mantiene la proporción de la imagen */
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }
  
  @media (min-width: 600px) {
    .menu img {
      max-width: 500px; /* Cambia el ancho máximo en pantallas más grandes */
    }
  }

  @keyframes show {
    from {
      opacity: 0;
      scale: 20%;
    }

    to {
      opacity: 1;
      scale: 100%;
    }
  }
  .card img {
    view-timeline-name: --image;
    view-timeline-axis: block;
    animation-timeline: --image;

    animation-name: show;

    animation-range: entry 25% cover 45%;
    animation-fill-mode: both;
  }

  .menu img {
    view-timeline-name: --image;
    view-timeline-axis: block;
    animation-timeline: --image;

    animation-name: show;

    animation-range: entry 25% cover 45%;
    animation-fill-mode: both;
  }

-------------------------------------------------------

.image-container {
  position: relative;
  overflow: hidden;
}

.image-container img {
  transition: opacity 0.3s ease;
  display: block;
  width: 100%;
  height: auto;
}

.overlay-text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: rgba(0, 0, 0, 0.6);
  color: white;
  padding: 10px 15px;
  border-radius: 8px;
  font-size: 1.2rem;
  opacity: 0;
  transition: opacity 0.5s ease;
  pointer-events: none;
  text-align: center;
}