@import url('https://fonts.googleapis.com/css2?family=Anton&family=Rubik:ital,wght@0,300..900;1,300..900&family=Sour+Gummy:ital,wght@0,800;1,800&display=swap');
/* font-family: "Anton", sans-serif; */
@import url('https://fonts.googleapis.com/css2?family=Sour+Gummy:ital,wght@0,100..900;1,100..900&display=swap');
/* font-family: "Sour Gummy", sans-serif; */
@import url('https://fonts.googleapis.com/css2?family=Righteous&display=swap');
/* font-family: "Righteous", sans-serif; */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

body {
    font-family: Century Gothic;
    font-size: 16px;
    background: #e8e8e8;
  }
  
  .pie-pagina {
    margin-top: 60px;
    background-color:#9b9290;
    padding: 2rem 4rem;
    text-align: center;
}

.social li {
  margin-top: 10px;
  display: inline;
  margin: 20px;
}

svg {
  width: 30px; /* Ajusta el tamaño */
  height: 30px; /* Ajusta el tamaño */
  fill:  white; /* Cambia el color del ícono */
}