@import url('https://fonts.googleapis.com/css2?family=Anton&family=Rubik:ital,wght@0,300..900;1,300..900&family=Sour+Gummy:ital,wght@0,800;1,800&display=swap');
/* font-family: "Anton", sans-serif; */
@import url('https://fonts.googleapis.com/css2?family=Sour+Gummy:ital,wght@0,100..900;1,100..900&display=swap');
/* font-family: "Sour Gummy", sans-serif; */
@import url('https://fonts.googleapis.com/css2?family=Righteous&display=swap');
/* font-family: "Righteous", sans-serif; */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

body {
    font-family: Century Gothic;
    font-size: 16px;
    background: #e8e8e8;
  }
  
  .pie-pagina {
    margin-top: 60px;
    background-color:#9b9290;
    padding: 2rem 4rem;
    text-align: center;
}

.social li {
  margin-top: 10px;
  display: inline;
  margin: 20px;
}

svg {
  width: 30px; /* Ajusta el tamaño */
  height: 30px; /* Ajusta el tamaño */
  fill:  white; /* Cambia el color del ícono */
}
.pie-pagina {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: #333;
  color: #fff;
  padding: 20px;
  flex-wrap: wrap; /* Permite que los elementos se reorganicen en líneas */
}

.pie-pagina div {
  flex: 1;
  text-align: center;
  margin: 10px; /* Añade espacio entre los elementos */
}

.pie-pagina-img img {
  max-width: 25px;
  height: auto;
}

/* Media Query para dispositivos móviles */
@media (max-width: 768px) {
  .pie-pagina {
    flex-direction: column; /* Cambia la dirección a columna */
    text-align: center;     /* Centra los elementos */
  }

  .pie-pagina div {
    flex: unset; /* Quita el crecimiento automático para columnas */
  }
}

  .texto {
    font-size: large;
  }

  .flex {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
  }
  
  .menu {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 18px; /* Espacio entre imágenes */
    width: 100%;
    padding: 5px;
  }
  
  .menu img {
    width: 100%; /* Ajusta la imagen al ancho del contenedor */
    max-width: 375px; /* Limita el ancho máximo */
    height: auto; /* Mantiene la proporción de la imagen */
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }
  
  @media (min-width: 600px) {
    .menu img {
      max-width: 500px; /* Cambia el ancho máximo en pantallas más grandes */
    }
  }